@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font: inherit;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
svg,
picture {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


:root {
    --clr-primary-desaturated-red: hsl(0, 36%, 70%);
    --clr-primary-soft-red: hsl(0, 93%, 68%);
    --clr-neutral-dark-grayish-red: hsl(0, 6%, 24%);

    --fs-200: .8125rem; /*13px*/
    --fs-300: .875rem; /*14px*/
    --fs-400: 1rem;
    --fs-500: 2.5rem; /*40px*/
    --fs-600: 4rem; /*64px*/

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;

    --lh-small: 22px;
    --lh-mid: 28px;
    --lh-big: 42px;
    --lh-xl: 71px;

    --ls-mid: 11px;
    --ls-big: 17px;

    --fs-heading: var(--fs-500);
    --fs-body: var(--fs-300);
    --fs-info: var(--fs-200);

    --lh-headline: var(--lh-big);
    --lh-body: var(--lh-small);

    --ls-headline: var(--ls-mid);
}

body {
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.hero {
    min-height: 100vh;
    background-size: cover;
    background-image: url("./images/bg-pattern-desktop.svg");
}

.hero__logo {
    margin: 30px 0;
    width: 190px;
    position: relative;
    padding-left: 70px;
}

.hero__picture-mobile {
    padding-bottom: 50px;
    width: 100%;
}

.hero__container-left {
    width: 100%;
    padding: 0 70px;
}

.hero-right__container {
    display: none;
}

.hero__copy {
    text-align: center;
}

.hero__copy-headline {
    font-size: var(--fs-heading);
    color: var(--clr-neutral-dark-grayish-red);
    line-height: var(--lh-headline);
    letter-spacing: var(--ls-headline);
    text-transform: uppercase;
}

.hero__copy-headline-accent {
    font-weight: var(--fw-light);
    color: var(--clr-primary-desaturated-red);
}

.hero__copy-paragraph {
    font-size: var(--fs-body);
    color: var(--clr-primary-desaturated-red);
    padding: 30px 0;
}

.hero__form {
    position: relative;
}

.hero__form-input {
    background-color: transparent;
    border: 1px solid hsl(0, 36%, 70%) ;
    border-radius: 50px;
    padding: 15px 30px;
    width: 100%;

    height: 55px;
}

.hero__form-input:focus {
    outline: none;
    box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.3);
    border-width: 2px;
}

.hero__form-input::placeholder {
    color: hsl(0, 36%, 70%);
}

.hero__form-error-icon {
    display: none;
    position: absolute;
    top: 15px;
    right: 110px;
}

.hero__form.error input {
    border: 2px solid hsl(0, 93%, 68%);
}

.hero__form-button {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 50px;
    padding: 15px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 55px;
    box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
}

.hero__form-button-arrow {
    margin-left: 30px;
}

.hero__form-button:hover {
    opacity: 0.8;
}

.hero__form-button-error-msg {
    display: none;
    margin-top: 15px;
    margin-left: 30px;
    color: hsl(0, 93%, 68%);
}

form.error .error-icon {
    display:block;
}

form.error .hero__form-button-error-msg {
    display: block;
}

@media (min-width: 1200px) {
    :root {
        --fs-heading: var(--fs-600);
        --fs-body: var(--fs-400);
        --lh-headline: var(--lh-xl);
        --lh-body: var(--lh-mid);
        --ls-headline: var(--ls-mid);
    }

    .hero {
        display: flex;
        padding-left: 10%;
    }

    .hero__logo {
        position: absolute;
    }

    .hero__copy-headline {
        letter-spacing: var(--ls-headline);
    }

    .hero__copy-paragraph {
        padding: 30px 0 10px 0;
    }

    .hero__container-left {
        width: 60%;
        padding: 0 30% 0 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }

    .hero__copy {
        text-align: left;
    }

    .hero-right__container {
        width: 40%;
        display: block;
    }

    .hero__picture-desktop {
        background-image: url("./images/hero-desktop.jpg");
        background-size: cover;
        background-position: center center;
    }

    .hero__picture-mobile {
        display: none;
    }

    .hero__logo {
        margin: 60px 0;
        width: 200px;
        padding-left: 0;
    }
}